.app-layout 
{
    min-height: 100vh;
}
  
.logo 
{
    color: #fadfc4;
    padding: 16px;
    font-weight: 700;
    font-size: 16px;
}

.app-header
{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: 15px;
    background: #19223E;
}
  
.app-content 
{
    padding: 16px;
    background: #F6F1EC;
    min-height: calc(100vh - 64px);
}

.text-panel
{
    color: #fff;    
    font-size: 18px;
}

.outButton
{
    background: #FE6575;
    color: #fff;
}
